*.pyc
*.lnk
.ipynb_checkpoints/

/doc/Report/*.aux
/doc/Report/libradDask.bbl
/doc/Report/libradDask.blg
/doc/Report/libradDask.fdb_latexmk
/doc/Report/libradDask.fls
/doc/Report/libradDask.lof
/doc/Report/libradDask.out
/doc/Report/libradDask.synctex
/doc/Report/libradDask.toc
/doc/Report/libradDask.tdo
